spacy~=3.7.4
snorkel~=0.9.9
transformers~=4.38.2
openai~=1.16.2
biopython~=1.83
sentence-transformers~=2.6.1
nltk~=3.8.1
tqdm~=4.66.2
pandas~=2.0.3
scikit-learn~=1.3.2
torch~=2.2.2
joblib~=1.3.2
ai2-olmo~=0.3.0
matplotlib~=3.7.5
lxml~=5.2.1
xgboost~=2.0.3
numpy~=1.24.4